[gitlab]
url = "https://gitlab.mycompany.com"
project = "group/subgroup/my-project"
token = "glpat-xxxxxxxxxxxx"
job_name = "test-report"

[[gitlab.pipelines]]
label = "nightly"
schedule_id = "123"  # uses latest successful pipeline from schedule

[[gitlab.pipelines]]
label = "hotfix"
pipeline_id = "999999"  # uses this pipeline directly
